[submodule "src/mit-riscv/coqutil"]
	path = src/mit-riscv/coqutil
	url = https://github.com/mit-plv/coqutil
[submodule "src/mit-riscv/coq-record-update"]
	path = src/mit-riscv/coq-record-update
	url = https://github.com/tchajed/coq-record-update
[submodule "src/mit-riscv/riscv-coq"]
	path = src/mit-riscv/riscv-coq
	url = https://github.com/mit-plv/riscv-coq
